@page "/contato"

<PageTitle>entre em contato</PageTitle>

<section class="pagina-inicial inicial">
    <h1>contato</h1>

    <h2>Telefone para contato</h2>
    <p>
    <p>Vitoria Ferreira Santiago</p>

    <p>(69) 9 9312-0229</p>

    <p>vitoria250908@gmail.com</p>

    </p>
</section>
