@page "/Isabellacurriculo"

<h3>Curriculo</h3>

<div class="curriculo">

    <h2>Dados Pessoais</h2>
    <p><b>Nome:</b> Isabella Pachú de Castro</p>
    <p><b>Email:</b> bellapachu@gmail.com</p>
    <p><b>Telefone:</b> (69) 994563-9875</p>
    <p><b>Cidade:</b> Ji-Parana - RO</p>

    <hr />

    <h3>Sobre Mim</h3>
    <p>
        Sou estudante da área de informática, dedicada e comunicativa, com interesse em adquirir experiência profissional e desenvolver novas competências. Tenho facilidade em aprender e gosto de trabalhar com criatividade e organização.
    </p>

    <h3>Formação</h3>
    <p> Curso técnico em informática - em andamento</p>

    <h3>Conhecimentos</h3>
    <ul>
        <li>Programação</li>
        <li>Informática</li>
        <li>Cozinhar</li>
    </ul>
</div>

<style>
    .curriculo {
        width: 400px;
        height: 620px;
        background-color: #ff8cba;
        border-radius: 15px;
        color: black;
        padding: 10px;
    }
</style>
