@page "/Isabellahistoria"

<PageTitle>Minha  História</PageTitle>

<section class="pagina-inicial inicial">

    <h1>Minha História</h1>

    
    <p>Meu nome é Isabella Pachú De Castro, tenho 16 anos e sou estudante do terceiro ano do Ensino Médio no Instituto Federal.</p>
    <p>Além do ensino médio, também curso o técnico em Informática, área pela qual tenho muito interesse e que me proporciona diversos aprendizados todos os dias.</p>
    <p>
        Sou uma pessoa dedicada, curiosa e sempre disposta a aprender coisas novas. Gosto bastante da área de tecnologia e busco desenvolver minhas habilidades tanto nos estudos quanto na vida pessoal.
    </p>
    <p>
        Durante minha trajetória no Instituto Federal, venho adquirindo conhecimentos importantes, aprendendo a trabalhar em equipe e enfrentando novos desafios que contribuem para o meu crescimento.
    </p>
    <p>
        Tenho muitos objetivos para o futuro e pretendo continuar me aperfeiçoando profissionalmente, buscando novas oportunidades e experiências que me ajudem a evoluir cada vez mais.
    </p>


</section>
