@page "/Isabellacontato"

<h3>Meu Contato</h3>

<div class="contato">
    <p>
        Nome: Isabella Pachú de Castro
    </p>
    <p>
        Email: bellapachu@gmail.com
    </p>
    <p>
        Telefone: +55 (69) 994563-9875
    </p>
</div>

<style>
    .contato{
        width: 250px;
        height: 135px;
        background-color: #c4145b;
        border-radius: 15px;
        color: white;
        padding: 10px;
    }
</style>