@page "/meu curriculo"

<PageTitle>Meu curriculo</PageTitle>

<section class="pagina-inicial inicial">
    <h1>Meu curriculo</h1>

    <h2>VITÓRIA FERREIRA SANTIAGO</h2>
    <p>
        Ji-Paraná – RO
        (69) 9 9312-0229
        vitoria250908@gmail.com

        Objetivo

        Atuar na área de Tecnologia da Informação, buscando desenvolver experiência profissional, aprendizado contínuo e contribuir com organização, responsabilidade e dedicação.

        Formação Acadêmica

        Curso Técnico em Informática
        Instituto Federal de Rondônia — Cursando 
        Previsão de conclusão: 2026

        Ensino Médio
        Instituto Federal de Rondônia — Cursando

        Cursos Complementares

        Informática Básica e Avançada
        Pacote Office (Word, Excel e PowerPoint)
        Montagem e Manutenção de Computadores
        Redes de Computadores
        Introdução à Programação

        Habilidades

        Facilidade com tecnologia
        Boa comunicação
        Trabalho em equipe
        Organização e responsabilidade
        Aprendizado rápido
        Conhecimento em computadores e sistemas
    </p>
</section>

