@page "/Historia"

<PageTitle>Minha história</PageTitle>

    <section class="pagina-inicial inicial">
    <h1>Minha História</h1>

    <h2>Um pouco sobre mim</h2>
    <p>
        <p>Meu nome é Vitória Ferreira Santiago, moro em Ji-Paraná-RO e estudo no IFRO (Instituto Federal de Rondonia). Sou uma pessoa</p>

    <p>dedicada, gosto de aprender coisas novas e passar tempo com meus amigos e minha família. No meu dia a</p>

    <p>dia, procuro sempre dar o meu melhor nos estudos e alcançar meus objetivos.</p>

    </p>
    </section>
    
     